{{define "subject"}}Book Club Management Community Password Reset!{{end}}

{{define "plainBody"}}
Hi,

We received a request from user ID: {{.userID}} to reset your password.

Please send a request to the `PUT /api/v1/users/password` endpoint with 
the following JSON body to reset your password:

{"password": "your new password", "token": "{{.passwordResetToken}}"}

Please note that this is a one-time use token and it will expire in 30 minutes.

If you didn't request this, you can safely ignore this email.

Thank you for using our API,

The Book Club Management Community Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hi,</p>
        <p>We received a request from user ID: {{.userID}} to reset your password.</p>
        <p>Please send a request to the <code>PUT /api/v1/users/password</code> 
            endpoint with the following JSON body to reset your password:</p>
        <pre>
            {"password": "your new password", "token": "{{.passwordResetToken}}"}
        </pre>
        <p>Please note that this is a one-time use token and it will 
            expire in 30 minutes.</p>
        <p>Thank you for using our API,</p>
        <p><strong>The Book Club Management Community Team</strong></p>
    </body>
</html>
{{end}}
